jbpm.3/bpel/library/src/test/java/org/jbpm/bpel/db/integrationSession.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="portTypeRelationships"
  targetNamespace="http://manufacturing.org/wsdl/purchase" 
  xmlns:tns="http://manufacturing.org/wsdl/purchase" 
  xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/
                      http://schemas.xmlsoap.org/ws/2004/03/partner-link/ http://schemas.xmlsoap.org/ws/2004/03/partner-link/"  
  xmlns="http://schemas.xmlsoap.org/wsdl/">
  <plnk:partnerLinkType name="schedulingLT">
    <plnk:role name="schedulingService" portType="tns:schedulingPT"/>
    <plnk:role name="schedulingRequester" portType="tns:schedulingCallbackPT"/>
  </plnk:partnerLinkType>  
  <message name="scheduleMessage">
    <part name="schedule" type="tns:ScheduleInfo"/>
  </message>
  <portType name="schedulingCallbackPT">
    <operation name="returnScheduleTicket">
      <input message="tns:scheduleMessage"/>
    </operation>
  </portType>
  <portType name="schedulingPT">
    <operation name="requestScheduling">
      <input message="tns:scheduleMessage"/>
    </operation>
    <operation name="sendShippingSchedule">
      <input message="tns:scheduleMessage"/>
    </operation>
    <operation name="returnScheduleTicket">
      <input message="tns:scheduleMessage"/>
    </operation>
    <operation name="cancelScheduling">
      <input message="tns:scheduleMessage" />
    </operation>
  </portType>
</definitions>